In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data Science and Analytics/WTF Data Science and AI/Datasets/Power BI/Real Estate Dataset.csv')

__DATASET INVESTIGATION__

In [ ]:
df.head()

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,NaN,73080.0,152000.0,Single Family,Detached House,3,1,935.0,1.025953,North
2,2009-01-02,2009,Waterbury,50540.0,105000.0,Single Family,Detached House,3,1,951.0,1.025953,East
3,2009-01-02,2009,Norwalk,571060.0,1000000.0,Single Family,Detached House,3,2,NaN,1.025953,South
4,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East

In [ ]:
#check dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               10000 non-null  object
 1   Year               10000 non-null  int64
 2   Locality           8745 non-null   object
 3   Estimated Value    8771 non-null   float64
 4   Sale Price         10000 non-null  float64
 5   Property           10000 non-null  object
 6   Residential        10000 non-null  object
 7   num_rooms          10000 non-null  int64
 8   num_bathrooms      10000 non-null  int64
 9   carpet_area        8718 non-null   float64
 10  property_tax_rate  10000 non-null  float64
 11  Face               10000 non-null  object
dtypes: float64(4), int64(3), object(5)
memory usage: 937.6+ KB

In [ ]:
# checking percentage of null values
round(df.isna().sum()/ df.shape[0] , 2)

Date                 0.00
Year                 0.00
Locality             0.13
Estimated Value      0.12
Sale Price           0.00
Property             0.00
Residential          0.00
num_rooms            0.00
num_bathrooms        0.00
carpet_area          0.13
property_tax_rate    0.00
Face                 0.00
dtype: float64

__To do:__
replace null values in Locality, Estimated Value and carpet_area

In [ ]:
# checking for duplicated entries
df.duplicated().sum()

0

In [ ]:
# checking statistical summary
df.describe()

,Year,Estimated Value,Sale Price,num_rooms,num_bathrooms,carpet_area,property_tax_rate
count,10000.000000,8.771000e+03,1.000000e+04,10000.000000,10000.000000,8718.000000,10000.000000
mean,2015.880100,4.445842e+05,6.224748e+05,3.329600,2.334000,1111.658981,1.143517
std,4.088031,7.513565e+05,1.029709e+06,0.885123,1.209293,305.058455,0.166762
min,2009.000000,0.000000e+00,2.000000e+03,3.000000,1.000000,900.000000,1.003979
25%,2012.000000,1.305250e+05,1.600000e+05,3.000000,1.000000,960.000000,1.023495
50%,2016.000000,2.431800e+05,3.400000e+05,3.000000,2.000000,1021.000000,1.025899
75%,2019.000000,4.418300e+05,6.300000e+05,3.000000,3.000000,1082.000000,1.348259
max,2022.000000,2.111991e+07,2.575000e+07,8.000000,8.000000,2989.000000,1.422308

In [ ]:
df.columns

Index(['Date', 'Year', 'Locality', 'Estimated Value', 'Sale Price', 'Property',
       'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Face'],
      dtype='object')

__DATA CLEANING__

In [ ]:
 # Change Estimated Value and Sale Price columns to snake case
df.columns = ['Date', 'Year', 'Locality', 'estimated_value', 'sale_price', 'Property',
       'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area',
       'property_tax_rate', 'Face']

In [ ]:
df.carpet_area.median()

1021.0

In [ ]:
# fill null values in carpet_area with the median value
df.carpet_area.fillna(1021, inplace = True)

In [ ]:
# fill null values in Estimated_Values with zero (0)
df.estimated_value.fillna(0, inplace = True)

In [ ]:
# drop null values in locality
df.dropna(inplace = True)

In [ ]:
df.isna().sum()

Date                 0
Year                 0
Locality             0
estimated_value      0
sale_price           0
Property             0
Residential          0
num_rooms            0
num_bathrooms        0
carpet_area          0
property_tax_rate    0
Face                 0
dtype: int64

__All null values have been taken care of__

In [ ]:
df = df[df.Property != '?']

In [ ]:
# updating dataset to cleaned version
df.to_csv('/content/drive/MyDrive/Data Science and Analytics/WTF Data Science and AI/Datasets/Power BI/Real Estate Dataset',index = False)

__DATA VISUALIZATION__

In [ ]:
# Will Be Done in Power BI